<!DOCTYPE html>
<html>
  <head>
    <title>Air_Ctrl</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="airStatus">
        <% if( online == 1 ){ %>
          在线：<span class="green greenBg">设备在线</span>
        <% }else if( online == 0 ){ %>
          离线：<span class="red redBg">设备离线</span>
        <% } %>
      </div>

      <div class="main">
        <div class="temp">
          <!--【温度】 16-30, 0-14 -->
          <span><%= temp + 16 %></span> ℃
        </div>
        <div class="mode">
          <!--【模式】 0自动，1制冷，2除湿，3送风，4制热 -->
          模式：
          <% if( mode == 0 ){ %>
            <span data-mode=0>自动</span>
          <% }else if( mode == 1 ){ %>
            <span data-mode=1>制冷</span>
          <% }else if( mode == 2 ){ %>
            <span data-mode=2>除湿</span>
          <% }else if( mode == 3 ){ %>
            <span data-mode=3>送风</span>
          <% }else if( mode == 4 ){ %>
            <span data-mode=4>制热</span>
          <% } %>
        </div>
        <div class="direct">
          <!-- 【风向】0自动，1 风向1，2 风向2，3 风向3，4 风向4 -->
          风向：
          <% if( direct == 0 ){ %>
            <span data-direct=0>自动</span>
          <% }else if( direct == 1 ){ %>
            <span data-direct=1>风向1</span>
          <% }else if( direct == 2 ){ %>
            <span data-direct=2>风向2</span>
          <% }else if( direct == 3 ){ %>
            <span data-direct=3>风向3</span>
          <% }else if( direct == 4 ){ %>
            <span data-direct=4>风向4</span>
          <% } %>
        </div>
        <div class="wind">
          <!-- 【风速】0自动，1 低风， 2 中风， 3 高风 -->
          风速：
          <% if( wind == 0 ){ %>
            <span data-wind=0>自动</span>
          <% }else if( wind == 1 ){ %>
            <span data-wind=1>低风</span>
          <% }else if( wind == 2 ){ %>
            <span data-wind=2>中风</span>
          <% }else if( wind == 3 ){ %>
            <span data-wind=3>高风</span>
          <% } %>
        </div>
        <div class="onoff">
          <!-- 【开关】 0 开，1 关 -->
            开关：
            <% if( onoff == 0 ){ %>
              <span class="green">打开状态</span>
            <% }else if( onoff == 1 ){ %>
              <span class="red">关闭状态</span>
            <% } %>
        </div>
      </div>

      <div class="onoffBtn">
          <!-- 【开关】 0 开，1 关 -->
          
          <button class="on" id="on">开</button>

          <button class="off" id="off">关</button>
      </div>

      <div class="ctrl">
        <div class="ctrlOthers">
          <button class="modeBtn">模式</button>
          <button class="directBtn">风向</button>
          <button class="windBtn">风速</button>
        </div>
        <div class="ctrlTemp">
          <button class="up"> + </button>
          <button class="down"> - </button>
        </div>
      </div>

    </div>



  </body>

  <script src="https://cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>
  <script>

    $("#on").click(function(){
      let currentTemp = parseInt( $('.temp span').text() ) - 16;
      let onoff = 0;
      $.post("/air/on", JSON.stringify({ setTemp: currentTemp, onoff: onoff }), function(data,status){
        console.log( data );
        if( !data.errcode ){
          $('.onoff span').text("打开状态").removeClass('red').addClass('green');
        }else{
          console.log( data );
        }
      });
    });
    $("#off").click(function(){
      let currentTemp = parseInt( $('.temp span').text() ) - 16;
      let onoff = 1;

      $.post("/air/off", JSON.stringify({ setTemp: currentTemp, onoff: onoff }), function(data,status){
        console.log( data );
        if( !data.errcode ){ // errorcode = 0, 代表请求成功
          $('.onoff span').text("关闭状态").removeClass('green').addClass('red');
        }
      });
      
    });

    //调整温度 降温
    $('.ctrlTemp .down').click(function(){
      
      let currentTemp = parseInt( $('.temp span').text() ) - 16;
      if( currentTemp == 0 ){
        alert( '不能再降温了!' );  // 16摄氏度
      }else{

        let currentMode = parseInt( $('.mode span').data("mode") );  // 0 - 4 
        let currentDirect = parseInt( $('.direct span').data("direct") );
        let currentWind = parseInt( $('.wind span').data("wind") );
        let setTemp = currentTemp - 1;

        
      
        
        let obj = {
          "mode": currentMode,
          "temp": setTemp,
          "direct": currentDirect,
          "wind": currentWind
        };


        // 降温 1 摄氏度
        $.post('/air/temp/down', JSON.stringify( obj ), function( data ){
          console.log( data.errcode );
          if( data.errcode == 1 ){ // errorcode = 1,代表设备处于关机状态
            console.log( data );
          }else{
            console.log( data );
            $('.temp span').text( setTemp + 16 );
          }
        })
      }

      
    })
    // 升温
    $('.ctrlTemp .up').click(function(){
      let currentTemp = parseInt( $('.temp span').text() ) - 16;
      if( currentTemp == 14 ){
        alert( '不能再升温了!' ); // 30摄氏度
      }else{
        
        let currentMode = parseInt( $('.mode span').data("mode") );  // 0 - 4 
        let currentDirect = parseInt( $('.direct span').data("direct") );
        let currentWind = parseInt( $('.wind span').data("wind") );
        let setTemp = currentTemp + 1;
        
      
        
        let obj = {
          "mode": currentMode,
          "temp": setTemp,
          "direct": currentDirect,
          "wind": currentWind
        };

        // 升温 1 摄氏度
        $.post('/air/temp/up', JSON.stringify( obj ), function( data ){
          console.log(data.errcode)
          if( data.errcode == 1 ){ // errorcode = 1,代表设备处于关机状态
            
            console.log( data );

          }else{
            console.log( data );
            $('.temp span').text( setTemp + 16 );
          }
        })
      }
    })

    $('.ctrlOthers .modeBtn').click(function(){
      let currentTemp = parseInt( $('.temp span').text() ) - 16;
      let currentMode = parseInt( $('.mode span').data("mode") );  // 0 - 4 
      let currentDirect = parseInt( $('.direct span').data("direct") );
      let currentWind = parseInt( $('.wind span').data("wind") );

      let setMode = currentMode;
      if( setMode < 4 ){
        setMode++;
      }else{
        setMode = 0;
      }
      
      
      let obj = {
        "mode": setMode,
        "temp": currentTemp,
        "direct": currentDirect,
        "wind": currentWind
      };

        // 升温 1 摄氏度
      $.post('/air/mode', JSON.stringify( obj ), function( data ){
        console.log(data.errcode)
        if( data.errcode == 1 ){ // errorcode = 1,代表设备处于关机状态
          
          console.log( data );

        }else{
          console.log( data );
          let modeName;

          switch( parseInt( setMode ) ){
            case 0: 
              modeName = "自动";
              break;
            case 1:
              modeName = "制冷";
              break;
            case 2:
              modeName = "除湿";
              break;
            case 3:
              modeName = "送风";
              break;
            case 4:
              modeName = "制热";
              break;
          }


          $('.mode span').text( modeName );
          $('.mode span').data( 'mode', setMode );
        }

      })


    })

  </script>
</html>
