body, div, ul, li, button, span, input{
    margin: 0;
    padding: 0;
}

.green{
    color: green;
}
.red{
    color: red;
}

body{
    width:100%;
    max-width: 500px;
    position: absolute;
    height: 100%;
}



.airStatus{
    height: 30px;
    text-align: center;
    line-height: 17px;
    margin-top: 10px;
}
.airStatus span{
    text-indent: -1000000px;
    border-radius: 50%;
    display: inline-block;
    width: 15px;
    height: 15px;
}




.main .main-onoff{
    display: block;
    font-size: 4em;
    text-align: center;
}
.main .main-mode{
    text-align: center;
}

.mode-bar{
    /* border:1px solid red; */
    height: 50px;
    margin: 30px auto;
}
.mode-bar span{
    margin: 0 !important;
    width: 19%;
    display: inline-block;
    /* border: 1px solid blueviolet; */
    height: 50px;
    box-sizing: border-box;
}
.mode-bar span.auto{
    background-image: url(../images/自动模式-gray.png);
    background-position: 6px;
    background-repeat: no-repeat;
}
.mode-bar span.cold{
    background-image: url(../images/制冷-gray.png);
    background-position: 6px;
    background-repeat: no-repeat;
}
.mode-bar span.dehumidify{
    background-image: url(../images/除湿-gray.png);
    background-position: 6px;
    background-repeat: no-repeat;
}
.mode-bar span.blower{
    background-image: url(../images/送风-gray.png);
    background-position: 6px;
    background-repeat: no-repeat;
}
.mode-bar span.produceHeat{
    background-image: url(../images/制热-gray.png);
    background-position: 6px;
    background-repeat: no-repeat;
}

.main .direct{
    /* 风向 */
    text-align: center;
    /* color: blue; */
}
.main .wind{
    /* 风速 */
    text-align: center;
    /* color: rgb(212, 0, 255); */
}
.main .onoff{
    /* 风速 */
    text-align: center;
    /* color: rgb(212, 0, 255); */
}


.onoffBtn .col-xs-6:first-child{
    /* height: 50px; */
    /* border: 1px solid yellowgreen; */
    padding-right: 0;

}
.onoffBtn .col-xs-6:last-child{
    /* height: 50px; */
    /* border: 1px solid yellowgreen; */
    padding-left: 0;

}
.onoffBtn .on, .onoffBtn .off{
    margin: 10px auto;
}


.ctrlOthers button, .ctrlTemp button{
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    text-indent: -2000px;
}
.ctrlOthers .modeBtn{
    background-image: url('../images/模式切换.png');
    background-repeat: no-repeat;
    background-position: 11px 11px;
}

.ctrlOthers .directBtn{
    background-image: url('../images/风向切换.png');
    background-repeat: no-repeat;
    background-position: 11px 11px;
}

.ctrlOthers .windBtn{
    background-image: url('../images/风速切换.png');
    background-repeat: no-repeat;
    background-position: 11px 11px;
}



.ctrlTemp .up{
    background-image: url('../images/温度+.png');
    background-repeat: no-repeat;
    background-position: 11px 11px;
}

.ctrlTemp .down{
    background-image: url('../images/温度-.png');
    background-repeat: no-repeat;
    background-position: 11px 11px;
}

.ctrlOnoff button{
    display: block;
    height: 70px;
    width: 70px;
    margin: auto;
}
.ctrlOnoff .onoffBtn{
    background-image: url('../images/on-off.png');
    background-repeat: no-repeat;
    background-position: 11px 11px;
}



/* 菜单 */
.menu-bar{
    color: #fff;
    position: absolute;
    width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.menu-bar .menu-list li{
    line-height: 50px;
    font-size: 1.3em;
    padding-left: 10px;
    z-index: 99998;
    border-bottom: 1px solid #fff;
}




/* 匹配红外 */
.match-proccess{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    left: 0;
    top: 0;
    z-index: 99999;
}

.menu-btn{
    position: absolute;
    right: 0;
    top: 100px;
    text-indent: -20000px;
    display: block;
    width:32px;
    height: 32px;
    background: url('../images/menu.png') no-repeat;
}