body, div, ul, li, button, span, input{
    margin: 0;
    padding: 0;
}

.green{
    color: green;
}
.red{
    color: red;
}

body{
    width:100%;
    max-width: 360px;
}

/* body{
    width: 340px;
    height: 620px;
} */
/* .container{
    width: 100%;
    height: 100%;
    border: 1px solid red;
} */

/* .main{
    width: 240px;
    height: 240px;
    border: 1px solid green;
    border-radius: 50%;
    margin: 10px auto;
} */
/* .main .temp{
    width: 100%;
    height: 45%;
    border: 1px solid yellow;
    color: red;
    text-align: center;
    line-height: 100px;
    margin-top: 20px;
} */
.main .main-onoff{
    display: block;
    font-size: 4em;
    text-align: center;
}
.main .main-mode{
    text-align: center;
}

.mode-bar{
    /* border:1px solid red; */
    height: 50px;
    margin: 10px auto;
}
.mode-bar span{
    margin: 0 !important;
    width: 19%;
    display: inline-block;
    /* border: 1px solid blueviolet; */
    height: 50px;
    box-sizing: border-box;
}

/* 
.snowflake-o  制冷

*/
.mode-bar span.auto{
    background-image: url(../images/自动模式-gray.png);
    background-position: 6px;
    background-repeat: no-repeat;
}
.mode-bar span.cold{
    background-image: url(../images/制冷-gray.png);
    background-position: 6px;
    background-repeat: no-repeat;
}
.mode-bar span.dehumidify{
    background-image: url(../images/除湿-gray.png);
    background-position: 6px;
    background-repeat: no-repeat;
}
.mode-bar span.blower{
    background-image: url(../images/送风-gray.png);
    background-position: 6px;
    background-repeat: no-repeat;
}
.mode-bar span.produceHeat{
    background-image: url(../images/制热-gray.png);
    background-position: 6px;
    background-repeat: no-repeat;
}

.main .direct{
    /* 风向 */
    text-align: center;
    /* color: blue; */
}
.main .wind{
    /* 风速 */
    text-align: center;
    /* color: rgb(212, 0, 255); */
}
.main .onoff{
    /* 风速 */
    text-align: center;
    /* color: rgb(212, 0, 255); */
}


.onoffBtn{
    height: 50px;
    border: 1px solid yellowgreen;

}
.onoffBtn .on, .onoffBtn .off{
    width: 50%;
    height: 100%;
    color: 20px;
    display: block;
    float: left;
}



.ctrl{
    height: 200px;
    border: 1px red solid;
}
.ctrl .ctrlOthers, .ctrl .ctrlTemp{
    float: left;
}
.ctrl .ctrlTemp, .ctrl .ctrlOthers, .ctrl .ctrlTimer{
    width: 33.33%;
    height: 100%;
    border: 1px yellow solid;
}
.ctrl .ctrlTemp button{
    display: block;
    height: 50%;
    width: 100%;
    font-size: 4em;
}
.ctrl .ctrlOthers button{
    display: block;
    height: 33.333333%;
    width: 100%;
    font-size: 3em;
}
.ctrl .ctrlTimer button{
    display: block;
    height: 50%;
    width: 100%;
    font-size: 4em;
}


.airStatus{
    height: 30px;
    text-align: center;
    line-height: 17px;
    margin-top: 10px;
}
.airStatus span{
    text-indent: -1000000px;
    border-radius: 50%;
    display: inline-block;
    width: 15px;
    height: 15px;
}

